<!DOCTYPE html>
<head>
    <title>RentCar Logowanie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand&display=swap" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="images/favico.jpg">
    <link rel="stylesheet" href="js/components/loginForm/LoginForm.css">
</head>
<body>

<div id="main-wrapper">
    <nav>
        <div class="nav-list">
            <a id="logo" href="/">Rent.Car</a>
        </div>
    </nav>

    <div class="content-1"></div>
    <div class="content-2"></div>



    <footer>

    </footer>



</div>



</body>
</html>