<!DOCTYPE html>
<head>
    <title>RentCar Logowanie</title>
    <link rel="icon" type="image/jpg" href="images/favico.jpg">
</head>
<body>

<form id="loginForm" action="login" method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password">
    <div class="modal-footer">
        <button id = "modalToDisable" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
        <button type="submit" class="btn btn-primary">Zaloguj się</button>
    </div>
</form>

<script></script>
<script src="js/services/authService.js"></script>
</body>
</html>